.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
    height: 100vh;
    
}
.btn-wrapper{
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
}
.btn{
        padding: 8px 16px;
        border-radius: 16px;
        color: white;
        background-color: #0569ff;
        transition: all 200ms ease-in-out;
       
}

.btn:hover{
    color: white;
    transform: scale(1.1);
   
}

.btn:active{
    transform: scale(1);
    
}